@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300;700');

body {
  background: linear-gradient(122deg, rgba(0,0,0,1) 0%, rgba(113,14,14,1) 68%, rgba(255,255,255,1) 100%);
  min-height: 100vh;
  color: aliceblue;
  margin: 20px;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  background: linear-gradient(122deg, rgba(0,0,0,1) 0%, rgba(113,14,14,1) 68%, rgba(255,255,255,1) 100%);
  margin: 10px;
  padding: 20px;
}
.board-row{
  display: flex;
  flex-flow: row nowrap;
}

.square{
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%, rgba(128,128,128,1) 100%);
  color: rgb(22, 13, 2);
  border: 2px solid #999;
  padding: 20px 0 0 0;
  font-size: 100px;
  font-family: "Buda", serif;
  font-weight: 700;
  text-align: center;
  width: 150px;
  height: 150px;
}

.square:focus{
  outline: none;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,61,61,1) 39%, rgba(0,0,0,1) 90%);

}